.home-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 1310px)  {
    .home-page-container {
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .card-container {
        margin: auto;
    }

    .home-page-container > div > h2 {
        text-align: center;
    }
}
