.splash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splash-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splash-header-container > h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0;
    text-align: center;
}

.splash-header-container > p {
    font-size: 1.875rem;
    margin: 1.5rem;
    text-align: center;
}

.splash-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.splash-card > h2 {
    font-size: 3rem;
    text-align: center;
    margin: 1rem
}

.splash-card > p {
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
}

.splash-card-img {
    max-width: 75%;
    height: auto;
}

.splash-options-container {
    display: flex;
    justify-content: space-between;
}
