body {
    margin: 0;
    padding: 0;
}

.navbar {
    padding-bottom: 0.5em;
    border-bottom: 2px solid lightgray;
    min-height: 3rem;
}

.navbar a {
    font-size: 1.5rem;
}
.nav-link {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.user-acc-links > a  {
    padding-right: 1em;
    color: rgba(33,33,33);
    text-decoration: none;
    font-weight: bold;
    font-family: "Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif";
}

.user-acc-links > a:hover {
    color: rgba(0,130,148);
}

.profile-button li {
    list-style-type: none;
}
